body{
	color: #666666;
}
header{
	height: 70px;
	background: #673AB7;
}
.logo{
	width: 13%;
	padding-left: 30px;
    padding-top: 15px;
    
}
nav ul{
    float: right;
    padding: 23px;
    text-transform: uppercase;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: white;
	padding-left: 20px;
}
nav ul li a:hover{
	color:#FF5722;
}
.centrado{
	text-align: center;
}
.espacios{
	padding-top: 60px;
	padding-bottom: 60px;
}
.splash{
	width: 100%;
	height: 100vh;
	background: url(../images/fondo.png) right fixed;
}

.splash h1{
	margin-top: 60px;
	background: #212121;
	color: white;
	display: inline-block;
}
.splash h2{
	background: #212121;
	color: white;
	display: inline-block;
}
.splash .btn{
	margin-top: 15px;
	background: #673AB7;
	color: white;
	display: inline-block;
}
.splash .btn:hover{
	background:#D1C4E9;
}
.content{
	padding: 10px;
}
.content .btn{
	background: #673AB7;
	color: white;
	float: right;
}
.content .btn:hover{
	background:#D1C4E9;
} 
.card{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14)!important
}
#letritas{
	background-color: #f2f2f2;
}
i{
	color: #FF5722;
}
.steve{
	background: #666;
	padding: 2px;
	color: white;
	font-size: 25px;
}
.fa-award{
	color: #666;
	padding-right: 10px;
}
#letritas h6{
	margin-top: 30px;
    margin-bottom: 30px;
}
#letritas .row h2:nth-child(1){
	margin-bottom: 10px;
}
.frases i{
	font-size: 60px;
	margin-bottom: 10px;
}
